html {
  font-family: "Poppins", sans-serif;
}
.header {
  background-image: url("images/Rectangle9.png");
  background-color: #cccccc;
  width: 100%;
  height: 80vh;
  background-size: auto;
}

.flex {
    display: flex;
}

.center {
    margin: auto;
}

.nav {
    /* color: white; */
}
